<%= render "partial/navigation" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Judul:</strong>
  <%= @e_data_keagamaan_katolik.judul %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @e_data_keagamaan_katolik.keterangan %>
</p>

<p>
  <strong>Lampiran:</strong>
  <%= link_to "Unduh lampiran", @e_data_keagamaan_katolik.tautan, target: "_blank" %>
</p>

<%= link_to 'Edit', edit_e_data_keagamaan_katolik_path(@e_data_keagamaan_katolik) %> |
<%= link_to 'Kembali', e_data_keagamaan_katolik_index_path %>
